@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0; 
}

body {
  background-color: rgb(210, 210, 210);
}

/* Make the root component rendered in index.html the parent of three columns */
#root {
  @apply
    flex
    flex-col
    p-4
}

.btn {
  @apply
    bg-amber-600
    py-2 px-3 my-2
    inline-block
    text-white
    rounded-md
    border-2
    border-amber-600
    shadow-md
    hover:bg-amber-700
    active:bg-amber-800
}

.sticky-grid {
  grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
  gap: 1rem;
}

@keyframes slideIn {
  from {
    transform: translateX(400px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideIn 0.3s ease-out;
}
